<h1>Add a New Place</h1>

<form action="/places" method="post">
  <label for="place_name">Place Name:</label>
  <input type="text" id="place_name" name="place[name]">
  <br><br>
  <input type="submit" value="Create Place">
</form>
