<h1>My Travel Log</h1>
<h2>Places I've Visited</h2>

<% if @places.empty? %>
  <p>You haven't added any places yet.</p>
<% else %>
  <ul>
    <% for place in @places %>
      <li>
        <a href="/places/<%= place.id %>"><%= place.name %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<p>
  <a href="/places/new">Add a New Place</a>
</p>
